*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html,body{
	height: 100%;
}

.center{
	width: 650px;
	margin: 0 2rem;
	padding: 0 2%;

}

.header{
	width: 100%;
	min-width: 1200px;
	height: 70px;
	background-color: #212343;
}

.header img{
	margin: 1.5rem;
}


.container-banner{
	width: 100%;
	height: 557px;
	background-image:url('../images/header_bg.png');
	background-size: cover;
	background-position: center;

}

.container-banner > .center{
	height: 100%;
	/*text-align: right;*/
}

.form{
	padding: 15px;
	width: 400px;
	height: calc(100% + 30px);
	margin-left: 85rem;
	position: relative;
	top: -10px;
	border-radius: 10px;
	border-style: solid;
	background-color: white;
	border-left-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-top-width: 10px;
	border-color: rgba(120,120,120,0.5);
	background-clip: padding-box;
	
}
.form h2{
	font-weight: normal;
	color: #212343;
	font-size: 15px;
	
	margin-left: 30px;
}
.form h2:hover{
	font-size: 16px;
	transition: 800ms;
}


.input-container1{
	margin-top: 40px;

}


.input-container1 input[type=text], .input-container2 input[type=text], .input-container3 input[type=text]{
	display: block;
	margin: 20px 10px 40px;
	padding: 10px 25px;
	width: 330px;

}


.input-container1, .input-container2, .input-container3, .warning{
	display: inline-block;
	width: 100%;
	color: black;
	font-size: 17px;
	font-weight: bold;

}

.botao{

	width: 280px;
	height: 40px;
	background-color: #363a6d;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px; 
	cursor: pointer;
	font-family: Arial;
	margin-top: 15px;
	border-left: 0;
	border-right: 5px solid #4a5097;
	border-top: 0;
	border-bottom: 5px solid #4a5097;
	margin-left: 2.5rem;
	box-shadow: 10px 10px 10px 0 #000000;
}

.botao:hover{
	height: 56px;
	transition: 1s;
	font-size: 25px;
}

.inicioinfo{
	padding: 30px;
	float: left;
	width: 619px;
	height: 270px;
	background-color: rgba(33,35,67, 0.7);
	margin-top: 100px;
	margin-left: 380px;
}

.inicioinfo ul{
	list-style-position: inside;
}

.inicioinfo ul li{
	color: white;
	margin-top: 18px;

}
.text1{
	min-width: 1200px;
	padding: 40px 0;
	background-color: #DDDDDD;
	text-align: center;
}

.text1 h2{

	font-weight: normal;
}

.text1 p{

	width: 698px;
	margin: 15px 0;
	display: inline-block;
	text-align: justify;
}

.arrow{
	position: relative;
	bottom: 20px;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	background-image: url('../images/arrow.png');
	background-size: 100% 100%;
	
}

.section1{
	padding: 90px 0;
	min-width: 1200px;
	margin-bottom: 10px;
}

.section1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.sectioninfo{
	margin-top: 40px;
}

.sectioninfo{
	text-align: center;
}

.sectioninfo2, .sectioninfo3, .sectioninfo4{
	text-align: center;
	float: left;
	width: 33.333%;
	padding: 30px
}
.sectioninfo2 p, .sectioninfo3 p, .sectioninfo4 p{
		padding: 10px 25px;
		text-align: justify;

}

.sectioninfo2 img, .sectioninfo3 img, .sectioninfo4 img{
		width: 70px;
	
}
footer{
	padding: 20px 0;
	text-align: center;
	border-top: 3px solid #888888;
	color: #888 ;
	clear: both;
	margin-bottom:  5px;
}

footer p{
	margin-top: 15px
}

